<div class="job-post-container">
    <div class="post-header">
        <div>
            <img src="<%= data.image %>" alt="img-1" class="post-img">
        </div>

        <div class="sub-heading">
            <h1>
                <%= data.title %>
            </h1>
            <div>
                <span>
                    <%= data.company %>
                </span>
                <span>
                    <%= data.location %>
                </span>
            </div>
        </div>
    </div>
    <div class="post-about">
        <b>About the role</b> <br>
        <span>
            <%= data.body %>
        </span>
    </div>
    <div class="post-responsible">
        <b>Key Responsibilities</b> <br>
        <span>
            <%= data.resp %>
        </span>
    </div>
    <div class="post-skills">
        <b>Skills</b> <br>
        <span>
            <%= data.skill %>
        </span>
    </div>
    <div class="why-join">
        <b>Why you join</b> <br>
        <span>
            <%= data.why %>
        </span>
    </div>

    <div class="post-btn" onclick="openForm()">Apply Now</div>
</div>



<div id="popup-form" class="form-popup">
    <form action="/" id="application-form" enctype="multipart/form-data" class="popup-content">
        <h2>Apply for <%= data.title %></h2>
        <label for="form-name">Name:</label>
        <input type="text" id="form-name" name="form-name" required>

        <label for="form-email">Email:</label>
        <input type="email" id="form-email" name="form-email" required>

        <label for="form-message">Message:</label>
        <textarea id="form-message" name="form-message" rows="4" placeholder="Tell us about yourself"></textarea>

        <label for="form-resume">Upload Resume:</label>
        <input type="file" id="form-resume" name="form-resume" required>

        <button type="submit">Submit Application</button>
        <button type="button" onclick="closeForm()">Close</button>
    </form>
</div>